<!doctype html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<style type="text/css">

	body {
		font-family: 'Roboto';
		margin: 0px;
		padding: 0px;
		top: 50%;
    	left: 50%;
	}

	.floated_img {
    	float: left;
    	margin: 10px;
    	width:calc(100% / 5);
    	display:inline-block;
	}

	.instraction_container {
	    margin-left: 150px;
	}

	.header_font {
		color: #000000;
		font-size: 20px;
		margin: 20px;
		opacity: 0.87;
		/*text-align: center;*/
	}

	.colour_font {
		color: #4F7DC9;
		font-size: 20px;
		text-align: left;
	}

</style>

</head>

<body>

	<div class="header_font">

		<p> 
			• BCBA provides functions to analyze a project under uncertain cost and benefits. 
		</p>

		<p> 
			• BCBA firstly simulate cases by using Monte Carlo Method. With a large amount of simulated cases, BCBA can do analyze base on these. In these case, BCBA computes the expected cost (ECost), expected benefit (EBenefit), expected net benefit (ENB), loss probability (LP) and 1%-value-at-risk (VaR) for each project.  Based on these values, users can decide which project is better.
		</p>

		<p> 
		In probability theory, the expected value of a random variable is intuitively the long-run average value of repetitions of the experiment it represents
			<div class="colour_font"> Expected cost (ECost) is the average value of cost of all generated cases.</div>
		</p>

		<p> 
			<div class="colour_font"> Expected benefit (EBenefit) is the average value of benefit of all generated cases.</div>
		</p>

		<p> 
			<div class="colour_font"> Expected net benefit (ENB) is the average value of net benefit of all generated cases. (Can be calculated by expected net benefit = expected benefit – expected cost)</div>
		</p>

		<p> 
			<div class="colour_font"> Loss probability (LP) is the probability of that loss occurring. </div>
		</p>

		<p> 
			<div class="colour_font"> Value-at-risk (VaR) is risk measure of the risk of lost on a specific case.</div>
			<img width="200px" src="/images/var.jpg" alt="The Stable"/>
		</p>

	</div>

</body>

</html>
