<!doctype html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<style type="text/css">

	body {
		font-family: 'Roboto';
		margin: 0px;
		padding: 0px;
		top: 50%;
    	left: 50%;
	}

	.floated_img {
    	float: left;
    	margin: 10px;
    	width:calc(100% / 5);
    	display:inline-block;
	}

	.instraction_container {
	    margin-left: 150px;
	}

	.header_font {
		color: #000000;
		font-size: 20px;
		margin: 10px;
		opacity: 0.87;
		/*text-align: center;*/
		
	}

</style>

</head>

<body>

	<div class="header_font">

		<p> 
			BCBA provides functions to analyze a project under uncertain cost and benefits. 
		</p>

		<p> 
			BCBA firstly simulate cases by using Monte Carlo Method. With a large amount of simulated cases, BCBA can do analyze base on these. In these case, BCBA computes the expected cost (ECost), expected benefit (EBenefit), expected net benefit (ENB), loss probability (LP) and 1%-value-at-risk (VaR) for each project.  Based on these values, users can decide which project is better.
		</p>

	</div>

</body>

</html>
