<!DOCTYPE html>
<html>
	
	<!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'> -->
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">


	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_font.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_colour.css">

	 <link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>

	 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="/javascripts/titles.js"></script>

	<link rel="import" href="/bower_components/paper-toast/paper-toast.html">

<head>
	<title></title>
	<style type="text/css">

		body {
			font-family: 'Roboto';
			margin: 0px;
			padding: 0px;
			top: 50%;
	    	left: 50%;
		}

		.floated_img {
	    	float: left;
	    	margin: 10px;
	    	width: calc(100% / 3);
	    	display: inline-block;
		}

		paper-input {
			width: calc(100% / 2);
		}

</style>
</head>
<body>
	
	<div id="wrap">

		<header class="white_font">

			<section>
				<object class="logo" height="100px" type="image/svg+xml" data="/images/pplane2.svg">Your browser does not support SVG</object>
				<div class="page-header-title" id="header_title_9"></div>
				
			</section>	

		</header>


		<div id="content">

			<section>
				<div class="main-text-header">
					Throw your plane and measure flying distance
				</div>
				<div class="main-text">
				
					<paper-input id="flight_distance" class="estim_plane"  label="flight distance (m)" floatingLabel></paper-input>
				
				</div>

			
			</section>

		</div>	


</div>


	<footer>


		<div class="previous_button left"> 
			<a id="footer_back_link_9" href="/">
				<paper-button>
					
					<img class="footer-header-left" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>

					<div class="footer-text" id="footer_back_9"></div>
					
				</paper-button>
			</a>
		</div>


		<div class="next_button right"> 
			<!-- <a id="footer_next_link_9" href="/"> -->
				<paper-button onclick="saveFlightDistance()">
					
					<div class="footer-text" id="footer_next_9"></div>
					
					<img class="footer-header-right" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
					
				</paper-button>
			<!-- </a> -->
		</div>
	

	</footer>

	<paper-toast id="toast" text="Throw your plane and enter flying distance!"></paper-toast>

	<script type="text/javascript">

		function saveFlightDistance() {
			localStorage.setItem("flight_distance", document.getElementById('flight_distance').value);
			if (document.getElementById('flight_distance').value === "") {
				document.querySelector('#toast').show();
			} else {
				window.open("/score","_self");
			}
		}
		
	</script>

	
</body>
</html>
