<!doctype html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<style type="text/css">

	body {
		font-family: 'Roboto';
		margin: 0px;
		padding: 0px;
		top: 50%;
    	left: 50%;
	}

	.floated_img {
    	float: left;
    	margin: 10px;
    	width:calc(100% / 5);
    	display:inline-block;
	}

	.instraction_container {
	    margin-left: 150px;
	}

	.header_font {
		color: #000000;
		font-size: 20px;
		margin: 20px;
		opacity: 0.87;
		/*text-align: center;*/
		
	}

</style>

</head>

<body>

	<div class="header_font">

		<p>
			Rules:
		</p>

		<p> 
			• In order to demonstrate advantages of the decision-making techniques and value analysis, we decided to design a game, which simulates real-world decision process in paper plane construction.

		</p>

		<p> 
			• Main target for players is to choose the type of the plane and build in limited amount of time.
		</p>

		<p> 
			• In adition to that, players have to estimate cost (time it takes to build a plane), as well as potential benefit (based on eastimation of destance it will fly).
		</p>

		<p> 
			• Before game starts, players can look up the plane contruction steps and make predictions.
		</p>


	</div>

</body>

</html>
