<!doctype html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<style type="text/css">

	body {
		font-family: 'Roboto';
		margin: 0px;
		padding: 0px;
		top: 50%;
    	left: 50%;
	}

	.floated_img {
    	float: left;
    	margin: 10px;
    	width:calc(100% / 5);
    	display:inline-block;
	}

	.instraction_container {
	    margin-left: 150px;
	}

	.header_font {
		color: #000000;
		font-size: 20px;
		margin: 10px;
		opacity: 0.87;
		/*text-align: center;*/
		
	}

</style>

		


</head>

<body>

	<div class="header_font">
		<p> 
			The website gives users an opportunity to experience the use of the R tool. By given a scenario of making paper planes, users follow the steps on the website which inputs estimation of different attributes. As result, the system will automatically return a graph that analysis the project portfolios. By looking at the result, users should be able to determine which portfolio is better under uncertainty.
		</p>

		<p> 
			Hopefully, users can have better understanding of making decision under uncertainty and how useful the R tool is.
		</p>

	</div>

</body>

</html>
