<!DOCTYPE html>
<html>
	
	<!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'> -->
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">

	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_font.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_colour.css">

	 <link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>

	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>

<head>
	<title></title>
	<style type="text/css">

 			
		
	</style>
</head>
<body>
	

	<header class="white_font">

		<section>

			<div class="page-header-title">Paper Planes</div>
			<div class="page-header-sub-title">
				&nbsp&nbsp&nbsp&nbsp or decision making under <span class="yellow">uncertainty</span>
			</div>

			<!-- <img height="20px" src="/images/plane_logo.jpg"/> -->
			
		</section>	

	</header>


	<div id="content">

		<section>
			<div class="main-text-header">
			The goal of this web page
			</div>
			<div class="main-text">
				<p>
					The website gives users an opportunity to experience the use of cost-benefit analysis to perform decisions under uncertaity. 
					By given a scenario of making paper planes, users follow the steps on the website which inputs estimation of different attributes. As result, the system will automatically return a graph that analysis the project portfolios. By looking at the result, users should be able to determine which portfolio is better under uncertainty.
				</p>

				<p>
					Hopefully, users can have better understanding of making decision under uncertainty and how useful to use this technique during decision-making process.
				</p>

				<p>
					Please, fill up the following questions, to estimate your current knowledge of the topic:
				</p>
			</div>

		</section>	

	</div>

	

	<footer>


		<div class="next_button right"> 
			<a href="/start_questions">
				<paper-button>
					
					<div class="footer-text"> <wbr> Questions </wbr> </div>
					
					<img class="footer-header-right" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
					
				</paper-button>
			</a>
		</div>
	

	</footer>

	
</body>
</html>