<!DOCTYPE html>
<html>
	
	<!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'> -->
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">

	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_font.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_colour.css">

	 <link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>

	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>

<head>
	<title></title>
	<style type="text/css">

 			#logo {
 				display: inline-block;
 				margin: 0px;
 				margin-right: 15px;
 			}

 			#header_title  {
 				display: inline-block;
 				width: calc(100% / 1.5);
 				text-align: top;
 			}
		
	</style>
</head>
<body>
	
	<div id="wrap">

	<header class="white_font">

	<section>

		<object id="logo" height="200px" type="image/svg+xml" data="/images/pplane2.svg">Your browser does not support SVG</object>

		<div id="header_title">

			<div class="page-header-title">Paper Planes</div>
			<div class="page-header-sub-title">
				&nbsp&nbsp&nbsp&nbsp or decision making under <span class="yellow">uncertainty</span>
			</div>

		</div>	
	</section>


		
	</header>


	<div id="content">

		<section>
			<div class="main-text-header">
			Goal
			</div>
			<div class="main-text">
				<p>
					This website provides you with the opportunity to experience the use of <span class="highlight">cost-benefit analysis</span>  to perform decisions under uncertainty. Given the scenario where you have to score as many points as possible by making a paper plane and fly it, you’ll be introduced to the following key concepts: Monte Carlo Simulation, Expected Net Benefit, Value at Risk, Loss Probability.
				</p>

				<p>
					It seems straight forward, right?

				</p>

				<p>
					But you have to choose between 2 planes. Which one would fit you best? This is what uncertainty feels like.
				</p>
			</div>

		</section>	

	</div>

	</div>

	<footer>


		<div class="next_button right"> 
			<a href="/start_questions">
				<paper-button>
					
					<div class="footer-text"> <wbr> Questions </wbr> </div>
					
					<img class="footer-header-right" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
					
				</paper-button>
			</a>
		</div>
	

	</footer>

	
</body>
</html>