<!DOCTYPE html>
<html>
	
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">


	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_font.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_colour.css">

	 <link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>

	 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="/javascripts/titles.js"></script>

<head>
	<title></title>
	<style type="text/css">

		body {
			font-family: 'Roboto';
			margin: 0px;
			padding: 0px;
			top: 50%;
	    	left: 50%;
		}

		.floated_img {
	    	float: left;
	    	margin: 10px;
	    	width: calc(100% / 3);
	    	display: inline-block;
		}

		.instraction_container {
		    /*margin-left: 50px;*/
		}

		/*.header_font {
			color: #4F7DC9;
			font-size: 30px;
			text-align: center;
		}*/

		.main-text {
			float: left;
	    	margin: 10px;
	    	width: calc(100% / 2);
	    	display:inline-block;
		}

</style>
</head>
<body>
	
	<div id="wrap">

		<header class="white_font">

			<section>
				<object class="logo" height="100px" type="image/svg+xml" data="/images/pplane2.svg">Your browser does not support SVG</object>
				<div class="page-header-title" id="header_title_5"></div>
				
			</section>	

		</header>


		<div id="content">

			<section>
				<div class="main-text-header">
					More on the decision-making tool:
				</div>
				<div class="main-text">
				
					<p> 
						• <span class="highlight">Monte-Carlo</span> simulation is a broad class of computational algorithms that rely on repeated random sampling to obtain numerical results. The method <span class="highlight">simulates random input</span> from a probability distribution over the domain. It is useful when problems are difficult or impossible to solve by other methods. However it only simulates, but not analyzes.

					</p>

					<p> 
						• The method requires to estimate values for both cost and benefit, including its minimum and maximum. Then the system can simulate cases as much as we want with a given type of distribution.
					</p>

					<p> 
						• Here, you estimate the values for <span class="highlight">minimum cost, maximum cost, minimum benefit, maximum benefit</span> and regard both cost and benefit as normal distributions.
					</p>

				
				</div>

				<div class="instraction_container">
					<div class="floated_img">
				  		<img width="300px" src="/images/MC.gif" alt="Monte Carlo Simulation"/>
				    </div>
				</div>
			
			</section>

		</div>	


</div>


	<footer>


		<div class="previous_button left"> 
			<a id="footer_back_link_5" href="">
				<paper-button>
					
					<img class="footer-header-left" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>

					<div class="footer-text" id="footer_back_5"></div>
					
				</paper-button>
			</a>
		</div>


		<div class="next_button right"> 
			<a id="footer_next_link_5" href="">
				<paper-button>
					
					<div class="footer-text" id="footer_next_5"></div>
					
					<img class="footer-header-right" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
					
				</paper-button>
			</a>
		</div>
	

	</footer>

	
</body>
</html>
