<!doctype html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<style type="text/css">

	body {
		font-family: 'Roboto';
		margin: 0px;
		padding: 0px;
		top: 50%;
    	left: 50%;
	}

	.floated_img {
    	float: left;
    	margin: 10px;
    	width:calc(100% / 5);
    	display:inline-block;
	}

	.instraction_container {
	    margin-left: 150px;
	}

	.header_font {
		color: #000000;
		font-size: 20px;
		margin: 10px;
		opacity: 0.87;
		/*text-align: center;*/
		
	}

</style>

</head>

<body>

	<div class="header_font">

		<p> 
			Monte Carlo methods are a broad class of computational algorithms that rely on repeated random sampling to obtain numerical results. The method simulates input randomly from a probability distribution over the domain. It is useful when problems are difficult or impossible to solve by other methods. However it only simulates, but not analyzes.

		</p>

		<p> 
			The method requires estimate values for both cost and benefits, including its maximum, minimum and likely values. Then the system can simulate cases as much as we want with a given type of distribution.
		</p>

		<p> 
			In this case, users estimate the values for minimum cost, likely cost, maximum cost, minimum benefit, likely benefit, maximum benefit and regard both of cost and benefit as a triangular distribution.
		</p>


	</div>

</body>

</html>
