<!DOCTYPE html>
<html>
	
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">

	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_font.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_colour.css">

	 <link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>

	 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="/javascripts/titles.js"></script>

<head>
	<title></title>
	<style type="text/css">

	body {
		font-family: 'Roboto';
		margin: 0px;
		padding: 0px;
		top: 50%;
    	left: 50%;
	}

	.floated_img {
    	float: left;
    	margin: 10px;
    	width:calc(100% / 5);
    	display:inline-block;
	}

	.instraction_container {
	    margin-left: 150px;
	}

	.header_font {
		color: #4F7DC9;
		font-size: 30px;
		text-align: center;
	}

	.main-text {
		float: left;
    	margin: 10px;
    	width:calc(100% / 2);
    	display:inline-block;
	}

	a {
		text-decoration: none;
	}

</style>
</head>
<body>
	
<div id="wrap">
	<header class="white_font">

		<section>

			<object class="logo" height="100px" type="image/svg+xml" data="/images/pplane2.svg">Your browser does not support SVG</object>

			<div id="header_title_2" class="page-header-title"></div>
			
		</section>	

	</header>

	<div id="content">

		<section>
			<!-- <div class="main-text-header">
				Rules of the game
			</div> -->
			<div class="main-text">
				<p>
					1) As you can see in the right, you have 2 types of planes from which you can choose. The Basic Dart has a <span class="highlight">benefit</span> of <span class="highlight">28 points/meter</span> associated, while The Stable has <span class="highlight">25 points/meter</span>. 

				</p>
					2) Both planes have a <span class="highlight">cost</span> of <span class="highlight">1 point/second</span>.

				<p>
					3) Comparing the how-to-build pictograms, you need to make a <span class="highlight">decision</span> of which one you want to play.
				</p>

				<p>
					4) You are interested in increasing your score, therefore you'd want to maximize the <span class="highlight">Net Benefit</span>. <br>
					<center><span class="highlight">Net Benefit = Benefit - Cost</span></center>
				</p>
				
				<p>
					5) Build the plane and measure your building time.
				</p>

				<p>
					6) Fly the plane and measure the flying distance. 
				</p>

				<p>
					Is it hard?
					<br>Go to the next page to find out more on how you can ease this process. 
				</p>

			</div>

			<div class="instraction_container">
				<div class="floated_img">
			  		<img width="200px" src="/images/the_basic_dart_instr.png" alt="The Basic Dart"/>
			  		<div class="header_font">28 points/meter</div>
			    </div>


			    <div class="floated_img"> 
			  		<img width="200px" src="/images/the_stable_inst.png" alt="The Stable"/>
			  		<div class="header_font">25 points/meter</div>
			    </div>
			</div>

		</section>	
	</div>

</div>	



	<footer>


		<div class="previous_button left"> 
			<a href="/">
				<paper-button>
					
					<img class="footer-header-left" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>

					<div class="footer-text" id="footer_back_2"></div>
					
				</paper-button>
			</a>
		</div>


		<div class="next_button right"> 
			<a href="/uncertainty">
				<paper-button>
					
					<div class="footer-text" id="footer_next_2"></div>
					
					<img class="footer-header-right" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
					
				</paper-button>
			</a>
		</div>
	

	</footer>

	
</body>
</html>

