<!doctype html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<style type="text/css">

	body {
		font-family: 'Roboto';
		margin: 0px;
		padding: 0px;
		top: 50%;
    	left: 50%;
	}

	.floated_img {
    	float: left;
    	margin: 10px;
    	width:calc(100% / 5);
    	display:inline-block;
	}

	.instraction_container {
	    margin-left: 150px;
	}

	.header_font {
		color: #4F7DC9;
		font-size: 30px;
		
		text-align: center;
		
	}



</style>

	
</head>

<body>

	<div class="instraction_container">
		<div class="floated_img">
	  		<img width="200px" src="/images/the_basic_dart_instr.jpg" alt="The Basic Dart"/>
	  		<div class="header_font">£100</div>
	    </div>

	    <!-- <div class="floated_img">
	  		<img width="200px" src="/images/the_glider_instr.jpg" alt="The Glider"/>
	  		<div class="header_font">£200</div>
	    </div> -->

	    <div class="floated_img"> 
	  		<img width="200px" src="/images/the_stable_instr.jpg" alt="The Stable"/>
	  		<div class="header_font">£300</div>
	    </div>

	</div>
	
</body>

</html>
