<!doctype html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<style type="text/css">

	body {
		font-family: 'Roboto';
		margin: 0px;
		padding: 0px;
		top: 50%;
    	left: 50%;
	}

	.floated_img {
    	float: left;
    	margin: 10px;
    	width:calc(100% / 5);
    	display:inline-block;
	}

	.instraction_container {
	    margin-left: 150px;
	}

	.header_font {
		color: #000000;
		font-size: 20px;
		margin: 10px;
		opacity: 0.87;
		/*text-align: center;*/
		
	}

</style>

</head>

<body>

	<div class="header_font">

		<p> 
			R tool is a tool that specify for R language. R language is a programming language that is well used in statistical computing and graphics fields.
		</p>

		<p> 
			R tool supports self-made packages. In this case, we import a package called BCBA (Bayesian Cost-Benefit Analysis), which is written by Emmanuel Letier. This package provides specialized functions using Monte Carlo method to simulate with the estimate input. With the result, the system can create an analysis of project portfolios.
		</p>

	</div>

</body>

</html>
