<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/javascripts/bundle.js"></script>
</head>
<body>

<p>This example calls a function which performs calculations, and returns the result:</p>

BL1: <input type="text" id="buildLower1" value="">
BU1: <input type="text" id="buildUpper1" value="">
DL1: <input type="text" id="distanceLower1" value="">
DU1: <input type="text" id="distanceUpper1" value="">

BL2: <input type="text" id="buildLower2" value="">
BU2: <input type="text" id="buildUpper2" value="">
DL2: <input type="text" id="distanceLower2" value="">
DU2: <input type="text" id="distanceUpper2" value="">

<button id="button_run">Try it</button>

<textarea id="summary">missing</textarea>

<div class="table-responsive">
	<table id="estimations_table" class="table table-bordered">
  		
	</table>
</div>
</body>
</html>