<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- <script type="text/javascript" src="/javascripts/estimations.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="/javascripts/bundle.js"></script>
	<!-- <script src="../javascripts/math.js" type="text/javascript"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/1.2.0/math.min.js"></script>
	 	 <script src="../javascripts/simple_statistics.js" type="text/javascript"></script> -->

</head>
<body>

<p>This example calls a function which performs calculations, and returns the result:</p>

BL1: <input type="text" id="buildLower1" value="">
BU1: <input type="text" id="buildUpper1" value="">
DL1: <input type="text" id="distanceLower1" value="">
DU1: <input type="text" id="distanceUpper1" value="">

BL2: <input type="text" id="buildLower2" value="">
BU2: <input type="text" id="buildUpper2" value="">
DL2: <input type="text" id="distanceLower2" value="">
DU2: <input type="text" id="distanceUpper2" value="">

<button id="button_run">Try it</button>

<textarea id="summary">missing</textarea>

</body>
</html>