
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="import" href="/bower_components/paper-button/paper-button.html"/>
		<link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
		<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
		<link rel="import" href="/bower_components/paper-input/paper-input.html">

		<style>
			body {
		      font-family: 'Roboto';
		      margin: 0;
		    }
			canvas {
    			background: #FFFFFF;
    			margin: 0px;
    			margin-top: 10px;
			}

			#d1, #d2, #d3  {
				position: relative;
				display: inline-block;
			}
			#d3 {
				margin-left: 50px;
			}

			#text_min {
				visibility: hidden;
			}
			#final_score {
				font-size: 35px;
				font-family: 'Roboto';
				margin-left: 10px;
			}

			.text {
				position: relative;
				display: inline-block;
				font-family: 'Roboto';
				color: #4F7DC9;
				font-size: 30px;
				margin: 10px;
				
			}
			#text_sec {
				margin-right: 25px;
			}

			.header_font {
				color: #000000;
				font-size: 20px;
				margin: 20px;
				opacity: 0.87;
				/*text-align: center;*/
				
			}

			.question_font {
				color: #4F7DC9;
				font-size: 20px;
				margin: 20px;
				opacity: 0.87;
				/*text-align: center;*/	
			}
			
			

		</style>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/stop_watch.js"></script>
		<!-- type="text/javascript" src="/javascripts/resultGeneration.js"> -->
		<!-- script> -->

		<script type="text/javascript">

		
			function calculateResults() {
				console.log("calculateResults");
				// $('<p>Text</p>').appendTo('#final_score');
				var scoreSeconds = current+dec_current*10+min_current*60;


				var minTime1 = localStorage.getItem("min_time_1");
				var maxTime1 = localStorage.getItem("max_time_1");
				var minDist1 = localStorage.getItem("min_dist_1");
				var maxDist1 = localStorage.getItem("max_dist_1");

				var minTime2 = localStorage.getItem("min_time_2");
				var maxTime2 = localStorage.getItem("max_time_2");
				var minDist2 = localStorage.getItem("min_dist_2");
				var maxDist2 = localStorage.getItem("max_dist_2");


				var planeType = localStorage.getItem("plane_type");
				var planeDist = document.getElementById('plane_dist').value;

				console.log(minTime1+maxTime1+minDist1+maxDist1+minTime2+maxTime2+minDist2+maxDist2+planeType);

				// var estim = localStorage.getItem("min_time_1") + localStorage.getItem("max_time_1");

				// FinalBenefit*C1 - abs(FinalCost -CostMean) * C2 - abs(FinalBenefit - BenefitMean)*C3 - FinalCost*C4
				// FinalBenefit*50 - abs(FinalCost -CostMean) * 0.5 - abs(FinalBenefit - BenefitMean)*0.5 - FinalCost*1
				var finalBenefit = 0;
				if (planeType === "the_basic_dart") {
					finalBenefit = 100;
				} else {
					finalBenefit = 300;
				}

				var score = finalBenefit + 20*planeDist - scoreSeconds;
				
				$("#final_score").text(score + " points");

				
				$("#result_container").removeClass("core-header");
				// remove a class
				$("#result_container").addClass("core-red-header");
				
			}
		
		</script>

	</head>
	<body>

		<div>
			<div id="start_text" class='text'> Press Start when ready </div>
		</div>
    	
    	<div id='d3'>
	        <canvas id="min_canvas" width="160" height="200">
	              Your browser does not support HTML5 Canvas.
	        </canvas>

	    </div>

	    <div id="text_min" class='text'>  
	        min
	    </div>

    	<div id='d2'>
	        <canvas id="dec_seconds_canvas" width="160" height="200">
	              Your browser does not support HTML5 Canvas.
	        </canvas>
	    </div>

    	<div id='d1'>  
	        <canvas id="seconds_canvas" width="160" height="200">
	             Your browser does not support HTML5 Canvas.
	        </canvas>
	    </div>

	    <div id="text_sec" class='text'>  
	        sec
	    </div>

	    

	    <paper-button raised id="start_button" onclick="startWatchClick()" class="blue">Start</paper-button>
		<paper-button raised id="finish_button" onclick="stopWatchClick()" class="red">Finished</paper-button>


		<paper-input id="plane_dist" class="estim_plane" label="plane distance (m)" floatingLabel> </paper-input>
		<paper-button raised id="finish_button" onclick="allDone()" class="red">Done</paper-button>

	
		<!-- <div class="core-header">
			<div> 
				Send your plane! 
				Distance:
			</div>
			
			

			<div>
			
			
		</div>
		</div> -->


	   
		<div id="result_container" class="core-header">
			Your Score:
			<span id="final_score"> </span>
		</div>




		<div class="question_font"> Which of the following best defines 95% confidence interval(Bayesian)? </div>
	    <paper-radio-group id="plane_selection" selected="the_basic_dart">
	      <paper-radio-button name="i11" 
	      label="the average equals the mean of the interval 95% of times (1)">
	      </paper-radio-button>

	      <paper-radio-button name="i12" 
	      label="means that with a large number of repeated samples, 95% of such calculated confidence intervals would include the true value of the parameter (2)">
	      </paper-radio-button>

    	  <paper-radio-button name="i13" 
    	  label="it is used to capture uncertainty (3)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i14" 
    	  label="(Given our observed data) there is a 95% probability that the true value of the variable falls within the credible region (5)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i16" 
    	  label="no idea (0)">
    	  </paper-radio-button>
	    </paper-radio-group>


	    <div class="question_font"> Which of the following best defines ENB? </div>
	    <paper-radio-group id="plane_selection" selected="the_basic_dart">
	      <paper-radio-button name="i21" 
	      label="is benefit (1)">
	      </paper-radio-button>

	      <paper-radio-button name="i12" 
	      label="is estimated benefit (2)">
	      </paper-radio-button>

    	  <paper-radio-button name="i13" 
    	  label="is benefit - cost (3)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i14" 
    	  label="is how much it is estimated to earn (4)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i15" 
    	  label="is estimated benefit - estimated cost (5)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i16" 
    	  label="no idea (0)">
    	  </paper-radio-button>
	    </paper-radio-group>


	    <div class="question_font"> Which of the following best defines VaR? </div>
	    <paper-radio-group id="plane_selection" selected="the_basic_dart">
	      <paper-radio-button name="i31" 
	      label="value earned by the fact the asset is at risk (1)">
	      </paper-radio-button>

	      <paper-radio-button name="i32" 
	      label="risk loss (2)">
	      </paper-radio-button>

    	  <paper-radio-button name="i13" 
    	  label="risk measure (3)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i14" 
    	  label="risk measure of the risk loss (4)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i15" 
    	  label="risk measure of the risk loss in a specific portfolio (5)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i16" 
    	  label="no idea (0)">
    	  </paper-radio-button>
	    </paper-radio-group>


	    <div class="question_font"> Which of the following best defines Monte Carlo Simulation? </div>
	    <paper-radio-group id="plane_selection" selected="the_basic_dart">
	      <paper-radio-button name="i31" 
	      label="is a simulation (1)">
	      </paper-radio-button>

	      <paper-radio-button name="i32" 
	      label="is a simulation of free variables (2)">
	      </paper-radio-button>

    	  <paper-radio-button name="i13" 
    	  label="samples different values to variables (3)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i14" 
    	  label="samples different values to variables in their domain (4)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i15" 
    	  label="samples the variables in the domain given (5)">
    	  </paper-radio-button>

    	   <paper-radio-button name="i16" 
    	  label="no idea (0)">
    	  </paper-radio-button>
	    </paper-radio-group>


	    
    	
		<script type="text/javascript">
			
			// var canvas = document.getElementById('canvas');
			var secondsCanvas = document.getElementById('seconds_canvas');
			var dec_secondsCanvas = document.getElementById('dec_seconds_canvas');
			var minCanvas = document.getElementById('min_canvas');

			var decTimeOut;

			var secCtx = secondsCanvas.getContext('2d');
			secCtx.strokeStyle = '#4F7DC9'; //#4F7DC9
			secCtx.lineWidth = 5;

			var dec_secCtx = dec_secondsCanvas.getContext('2d');
			dec_secCtx.strokeStyle = '#4F7DC9'; //#4F7DC9
			dec_secCtx.lineWidth = 5;

			var minCtx = minCanvas.getContext('2d');
			minCtx.strokeStyle = '#4F7DC9'; //#4F7DC9
			minCtx.lineWidth = 5;


			var stopWatch = 0;


			function startWatchClick() {
				// Start the animation.
				setTimeout(nextFrame, 100);
				stopWatch = 0;
			}

			function stopWatchClick() {
				// Start the animation.
				stopWatch = 1;
				
			}


			function allDone() {
				// Start the animation.
				// stopWatch = 1;
				calculateResults(current, dec_current, min_current);
				
			}

		</script>

	</body>
</html>