<!doctype html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	
	<link rel="import" href="/bower_components/paper-button/paper-button.html">
	
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/material_font.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/material_colour.css">

	<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">

	<link rel="import" href="/bower_components/paper-toast/paper-toast.html">

	<script src="/javascripts/titles.js"></script>


<style type="text/css">

		

</style>


</head>




<body>

	<header class="white_font">

		<section>

			<object class="logo" height="100px" type="image/svg+xml" data="/images/pplane2.svg">Your browser does not support SVG</object>

			<div id="header_title_1" class="page-header-title"></div>
			
		</section>	

	</header>


	<div id="content">

		<section>

			<div class="main-text-header">
			Answer the following questions 
			</div>
		
			<div class="main-text">

				<p>
					<div id="title1" class="main-text-question">
						<span class="highlight">Suppose your boss asks for the delivery date of the projects you are managing. You give a 90% confidence interval of 14 to 21 days. What does this mean?</span>
					</div>
				    <paper-radio-group id="q1">
				      <paper-radio-button name="a" 
				      label="You have very little information about how many days the project will last">
				      </paper-radio-button>

				      <paper-radio-button name="b" 
				      label="You believe there is a 90% chance the actual date will be after 14 to 21 days">
				      </paper-radio-button>

				      <paper-radio-button name="c" 
				      label="You are 90% sure the actual number of days will be outside the range of 14 to 21">
				      </paper-radio-button>

				      <paper-radio-button name="d" 
				      label="You are certain the number of days will be between 12.6 and 18.9">
				      </paper-radio-button>

				    </paper-radio-group>
				</p>

				<p>
				    <div id="title2" class="main-text-question">
						<span class="highlight">How would you maximize the Net Benefit?</span>
					</div>
				    <paper-radio-group id="q2">
				      <paper-radio-button name="a" 
				      label="Increase Benefit">
				      </paper-radio-button>

				      <paper-radio-button name="b" 
				      label="Decrease Cost">
				      </paper-radio-button>

				      <paper-radio-button name="c" 
				      label="Decrease Cost, decrease Benefit">
				      </paper-radio-button>

				      <paper-radio-button name="d" 
				      label="Decrease Cost, increase Benefit">
				      </paper-radio-button>
				    </paper-radio-group>
			    </p>

				<p>
				    <div id="title3" class="main-text-question">
						<span class="highlight">Monte Carlo simulation is considered to be a bad technique to approximate probability distribution.</span>
					</div>
				    <paper-radio-group id="q3">
				      <paper-radio-button name="true" 
				      label="True">
				      </paper-radio-button>

				      <paper-radio-button name="false" 
				      label="False">
				      </paper-radio-button>
				    </paper-radio-group>
			    </p>

			    <p>
				    <div id="title4" class="main-text-question">
						<span class="highlight">Uncertainty is important in the early stages of software development when an organisation makes initial architectural decisions.</span>
					</div>
				    <paper-radio-group id="q4">
				      <paper-radio-button name="true" 
				      label="True">
				      </paper-radio-button>

				      <paper-radio-button name="false" 
				      label="False">
				      </paper-radio-button>
				    </paper-radio-group>
				</p>

				<p>
				    <div id="title5" class="main-text-question">
						<span class="highlight">Suppose you have a project which has a value at risk of 10000£. What does it mean?</span>
					</div>
				    <paper-radio-group id="q5">
				      <paper-radio-button name="a" 
				      label="The project's value increses to 10000£ when it is at risk">
				      </paper-radio-button>

				      <paper-radio-button name="b" 
				      label="It is possible to lose 10000£ if the project is pursued">
				      </paper-radio-button>

				      <paper-radio-button name="c" 
				      label="It is possible to earn or lose 10000£ if the project is continued">
				      </paper-radio-button>

				      <paper-radio-button name="d" 
				      label="Nothing happens">
				      </paper-radio-button>
				    </paper-radio-group>
				</p>

				<p>
				    <div id="title6" class="main-text-question">
						<span class="highlight">A project with 0.8 Loss Probability </span>
					</div>
				    <paper-radio-group id="q6">
				      <paper-radio-button name="a" 
				      label="Should be stopped">
				      </paper-radio-button>

				      <paper-radio-button name="b" 
				      label="Should be continued">
				      </paper-radio-button>

				      <paper-radio-button name="c" 
				      label="The decisions depends on the value at risk">
				      </paper-radio-button>

				      <paper-radio-button name="d" 
				      label="Cross fingers and pursue the project">
				      </paper-radio-button>
				    </paper-radio-group>
				</p>

				<p>
				    <div id="title7" class="main-text-question">
						<span class="highlight">Probabilities can't be used to describe your uncertainty about future events. </span>
					</div>
				    <paper-radio-group id="q7">
				      <paper-radio-button name="true" 
				      label="True">
				      </paper-radio-button>

				      <paper-radio-button name="false" 
				      label="False">
				      </paper-radio-button>
				    </paper-radio-group>
				</p>

			</div>

			<paper-button class="blue" raised onclick="isAnswered()">Submit</paper-button>

		</section>

	</div>


	<footer>


		<div class="previous_button left"> 
			<a id="footer_back_link_2" href="/">
				<paper-button>
					
					<img height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
					<div class="footer-text" id="footer_back_1"></div>
					
				</paper-button>
			</a>
		</div>


		<div class="next_button right"> 
	
			<!-- <a id="footer_next_link_1"> -->
				<paper-button onclick="isAnswered()">
					
					<div class="footer-text" id="footer_next_1"></div>
					<img height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
					
				</paper-button>
			<!-- </a> -->
		</div>


	</footer>

	<paper-toast id="toast" text="Some of the questions were not answered."></paper-toast>

	<script type="text/javascript">

		function isAnswered() {
			var isAllAnswered = 1;
			var answersArray = ["b","d","false","true","b","c","false"];
			var correctlyAnswered = 0;
			
			for (var i=1; i<8; i++) {

				var selectedValue = document.getElementById('q'+i).selected;
				
				if (selectedValue === null) {
					isAllAnswered=0;
					$("#title"+i).css('color', '#FF0000');
					document.querySelector('#toast').show();
					localStorage.setItem('start_q'+i, selectedValue);
				} else {
					console.log("document.getElementById('q'+1).selected="+document.getElementById('q'+i).selected);
					if (answersArray[i] === selectedValue) {
						correctlyAnswered++;
					}
				}
			}
			var correctPercentage = (correctlyAnswered / answersArray.length)*100;

			var strCorrectAnswered = (correctPercentage).toFixed(10);
			strCorrectAnswered = strCorrectAnswered.substring(0, 6);
			localStorage.setItem('start_questions_percent', strCorrectAnswered);

			if (isAllAnswered === 1) {
				window.open("/planes","_self");
			}

		}

	</script>


</body>

</html>
