<!doctype html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<link rel="import" href="/bower_components/paper-button/paper-button.html">
	
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/material_font.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/material_colour.css">

	<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">

	<link rel="import" href="/bower_components/paper-toast/paper-toast.html">

	<script src="/javascripts/titles.js"></script>


<style type="text/css">

		

</style>


</head>




<body>

	<header class="white_font">

		<section>

			<object class="logo" height="100px" type="image/svg+xml" data="/images/pplane2.svg">Your browser does not support SVG</object>

			<div id="header_title_1" class="page-header-title"></div>
			
		</section>	

	</header>


	<div id="content">

		<section>

			<div class="main-text-header">
			Choose whether the statement is True or False. 
			<!-- <p>
				Firstly, how much do you know about these concepts?
			</p> -->
			
			</div>
		
			<div class="main-text">

				<p>
					<div id="title1" class="main-text-question">
						We can represent uncertainty using an interval.
					</div>
				    <paper-radio-group id="q1">
				      <paper-radio-button name="i11" 
				      label="True">
				      </paper-radio-button>

				      <paper-radio-button name="i12" 
				      label="False">
				      </paper-radio-button>

				    </paper-radio-group>
				</p>

				<p>
				    <div id="title2" class="main-text-question">
						It is better to use a number to represent uncertainty instead of an interval.
					</div>
				    <paper-radio-group id="q2">
				      <paper-radio-button name="i21" 
				      label="True">
				      </paper-radio-button>

				      <paper-radio-button name="i12" 
				      label="False">
				      </paper-radio-button>
				    </paper-radio-group>
			    </p>

				<p>
				    <div id="title3" class="main-text-question">
						The expected cost is equal to the mean of the of the estimation interval boundaries when using Monte Carlo simulation.
					</div>
				    <paper-radio-group id="q3">
				      <paper-radio-button name="i21" 
				      label="True">
				      </paper-radio-button>

				      <paper-radio-button name="i12" 
				      label="False">
				      </paper-radio-button>
				    </paper-radio-group>
			    </p>

			    <p>
				    <div id="title4" class="main-text-question">
						The 95% Confidence Interval limits the variable to take values within the boundaries of the interval.
					</div>
				    <paper-radio-group id="q4">
				      <paper-radio-button name="i21" 
				      label="True">
				      </paper-radio-button>

				      <paper-radio-button name="i12" 
				      label="False">
				      </paper-radio-button>
				    </paper-radio-group>
				</p>

				<p>
				    <div id="title5" class="main-text-question">
						The Monte Carlo simulation samples the variable within the boundaries of the interval given. 
					</div>
				    <paper-radio-group id="q5">
				      <paper-radio-button name="i21" 
				      label="True">
				      </paper-radio-button>

				      <paper-radio-button name="i12" 
				      label="False">
				      </paper-radio-button>
				    </paper-radio-group>
				</p>

				<p>
				    <div id="title6" class="main-text-question">
						The value at risk is the value the asset gains when it is at risk. 
					</div>
				    <paper-radio-group id="q6">
				      <paper-radio-button name="i21" 
				      label="True">
				      </paper-radio-button>

				      <paper-radio-button name="i12" 
				      label="False">
				      </paper-radio-button>
				    </paper-radio-group>
				</p>

				<p>
				    <div id="title7" class="main-text-question">
						Expected Net Benefit is the final value of expected earning.  
					</div>
				    <paper-radio-group id="q7">
				      <paper-radio-button name="i21" 
				      label="True">
				      </paper-radio-button>

				      <paper-radio-button name="i12" 
				      label="False">
				      </paper-radio-button>
				    </paper-radio-group>
				</p>

			</div>

			<paper-button class="blue" raised onclick="isAnswered()">Submit</paper-button>

		</section>

	</div>


	<footer>


		<div class="previous_button left"> 
			<a id="footer_back_link_1" href="/">
				<paper-button>
					
					<img height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
					<div class="footer-text" id="footer_back_1"></div>
					
				</paper-button>
			</a>
		</div>


		<div class="next_button right"> 
	
			<!-- <a id="footer_next_link_1"> -->
				<paper-button onclick="isAnswered()">
					
					<div class="footer-text" id="footer_next_1"></div>
					<img height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
					
				</paper-button>
			<!-- </a> -->
		</div>


	</footer>

	<paper-toast id="toast" text="Some of the questions were not answered."></paper-toast>

	<script type="text/javascript">

		function isAnswered() {
			var isAllAnswered = 1;
			
			for (var i=1; i<8; i++) {
				
				if (document.getElementById('q'+i).selected === null) {
					isAllAnswered=0;
					$("#title"+i).css('color', '#FF0000');
					document.querySelector('#toast').show();
					localStorage.setItem('start_q'+i, document.getElementById('q'+i).selected);
				} else {
					console.log("document.getElementById('q'+1).selected="+document.getElementById('q'+i).selected);
				}
			}
			if (isAllAnswered === 1) {
				window.open("/planes","_self");
			}

		}

	</script>


</body>

</html>
