
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="import" href="/bower_components/paper-button/paper-button.html"/>

		<style>
			body {
		      font-family: 'Roboto';
		      margin: 0;
		    }
			canvas {
    			background: #FFFFFF;
    			margin: 0px;
    			margin-top: 5px;
			}

			#d1, #d2, #d3  {
				position: relative;
				display: inline-block;
			}

			#text_min {
				visibility: hidden;
			}

			.text {
				position: relative;
				display: inline-block;
				font-family: 'Roboto';
				color: #4F7DC9;
				font-size: 30px;
				margin: 5px;
			}
			

		</style>

		<script type="text/javascript" src="/javascripts/stop_watch.js"></script>

		<script type="text/javascript">

			var canvas = document.getElementById('canvas');

		</script>
		

	</head>
	<body>

		<paper-button raised id="start_button" onclick="startWatchClick()" class="blue">Start!</paper-button>

		<paper-button raised id="finish_button" onclick="stopWatchClick()" class="red">Finished!</paper-button>

    	
    	<!-- <canvas id="seconds_canvas" width="200" height="200"/>
    	<canvas id="minutes_canvas" width="200" height="200"/> -->

    	<div id='d3'>
	        <canvas id="min_canvas" width="160" height="200">
	              Your browser does not support HTML5 Canvas.
	        </canvas>
	    </div>

	    <div id="text_min" class='text'>  
	        min
	    </div>

    	<div id='d2'>
	        <canvas id="dec_seconds_canvas" width="160" height="200">
	              Your browser does not support HTML5 Canvas.
	        </canvas>
	    </div>

    	<div id='d1'>  
	        <canvas id="seconds_canvas" width="160" height="200">
	              Your browser does not support HTML5 Canvas.
	        </canvas>
	    </div>

	    <div id="text_sec" class='text'>  
	        sec
	    </div>
	    
    	

		<script type="text/javascript">
			
	// var canvas = document.getElementById('canvas');
	var secondsCanvas = document.getElementById('seconds_canvas');
	var dec_secondsCanvas = document.getElementById('dec_seconds_canvas');
	var minCanvas = document.getElementById('min_canvas');

	var decTimeOut;

	var secCtx = secondsCanvas.getContext('2d');
	secCtx.strokeStyle = '#4F7DC9'; //#4F7DC9
	secCtx.lineWidth = 5;

	var dec_secCtx = dec_secondsCanvas.getContext('2d');
	dec_secCtx.strokeStyle = '#4F7DC9'; //#4F7DC9
	dec_secCtx.lineWidth = 5;

	var minCtx = minCanvas.getContext('2d');
	minCtx.strokeStyle = '#4F7DC9'; //#4F7DC9
	minCtx.lineWidth = 5;


	var stopWatch = 0;


	function startWatchClick() {
		// Start the animation.
		setTimeout(nextFrame, 100);
		stopWatch = 0;
	}

	function stopWatchClick() {
		// Start the animation.
		stopWatch = 1;
	}

		</script>
	</body>
</html>