<!doctype html>
<html>
<head>

<link rel="import" href="/bower_components/paper-button/paper-button.html">
<style type="text/css">

	body {
		font-family: helvetica, arial;
		
	
	}

	  paper-button.blue {
      color: #4285f4;
      width:50%;
    }
    paper-button.red {
      color: #4285f4;
       width:50%;
    }

    paper-button[raised].blue {
      background: #4285f4;
      color: #fff;
    }
    paper-button[raised].red {
      background: #4285f4;
      color: #fff;
    }

</style>

</head>

<body>

	<paper-button raised class="blue">Use estimation tool!</paper-button>
	<paper-button raised class="red">Start the game!</paper-button>

</body>

</html>
