<!DOCTYPE html>
<html>
	
	<!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'> -->
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">

	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_font.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_colour.css">

	 <link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>

	 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="/javascripts/titles.js"></script>

<head>
	<title></title>
	<style type="text/css">

	body {
		font-family: 'Roboto';
		margin: 0px;
		padding: 0px;
		top: 50%;
    	left: 50%;
	}

	.floated_img {
    	float: left;
    	margin: 10px;
    	width:calc(100% / 5);
    	display:inline-block;
	}

	.instraction_container {
	    margin-left: 150px;
	}

	.header_font {
		color: #4F7DC9;
		font-size: 30px;
		text-align: center;
	}

	.main-text {
		float: left;
    	margin: 10px;
    	width:calc(100% / 2);
    	display:inline-block;
	}

</style>
</head>
	<body>
	
	<div id="wrap">

		<header class="white_font">

			<section>
				<object class="logo" height="100px" type="image/svg+xml" data="/images/pplane2.svg">Your browser does not support SVG</object>

				<div class="page-header-title" id="header_title_3"></div>
			</section>	

		</header>


		<div id="content">

			<section>
				<div class="main-text-header">
					Theory behind estimation
				</div>
				<div class="main-text">

					<p>
						The situation, looks like this: you have two planes with different properties and you need to play one of them. Probably you have no idea on how difficult it is to build any of the planes or how would they perfom. Or maybe you can say "it couldn't be less than this and more than this". In fact, this is how you deal with uncertainty, you can use <span class="highlight">estimation intervals</span>. But what can you do with this?
					</p>

					<p>
						We use <span class="highlight">The Bayesian Cost Benefit Analysis</span> inspired tool which computes Monte Carlo simulation over each interval of estimation given by you - building time and flight distance. 
					</p>

					<p>
						The intervals are treated as <span class="highlight">95%</span> confidence interval with normal distribution. Therefore, the actual value will be within the interval with 95% confidence. Some of the values would be outside the interval. When you do this, you need to have a 95% confidence in the interval estimated.
					</p>

					<p>
						From the sampled data, the tool computes the expected value of each interval. This is represented by the mean value of the samples.

					</p>

					<p>
						Then it calculates <span class="highlight">the Expected Net Benefit, Value at Risk and Loss Probability.</span>
					</p>
				</div>
			</section>	

		</div>

	</div>

	<footer>

		<div class="previous_button left"> 
			<a href="/planes">
				<paper-button>
					
					<img class="footer-header-left" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>

					<div class="footer-text" id="footer_back_3"></div>
					
				</paper-button>
			</a>
		</div>

		<div class="next_button right"> 
			<a href="/approximation">
				<paper-button>
					
					<div class="footer-text"  id="footer_next_3"></div>
					
					<img class="footer-header-right" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
					
				</paper-button>
			</a>
		</div>
	
	</footer>

	
</body>
</html>

