<!DOCTYPE html>
<html>
	
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">


	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_design.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_font.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/material_colour.css">

	 <link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>

	 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="/javascripts/titles.js"></script>

	<link rel="import" href="/bower_components/paper-toast/paper-toast.html">

<head>
	<title></title>
	<style type="text/css">
		.floated_img {
	    	float: left;
	    	margin-top: 10px;
	    	margin-bottom: 10px;
	    	width:calc(100% / 5.5);
	    	display:inline-block;
	    	text-align: center;
		}

		.instraction_container {
		    margin-left: 150px;
		}

		.header_font {
			color: #4F7DC9;
			font-size: 30px;
			text-align: center;
		}

		.main-text {
			float: left;
	    	margin-left: 0px;
	    	margin-right: 0px;
	    	padding-left: 0px;
	    	padding-right: 0px;
	    	width:calc(100% / 1.5);
	    	display:inline-block;
		}
	</style>

</head>
<body>
	
	<div id="wrap">

		<header class="white_font">

			<section>
				<object class="logo" height="100px" type="image/svg+xml" data="/images/pplane2.svg">Your browser does not support SVG</object>
				<div class="page-header-title" id="header_title_4"></div>
				
			</section>	

		</header>


		<div id="content">

			<section>
				<div class="main-text-header">
					Enter your min and max estimations for building time and flight distance:
				</div>
				<!-- <paper-button class="blue" raised onclick=" saveApproximations()">Submit</paper-button> -->
				<div class="main-text">
					
					<div> "The Basic Dart": </div>
					<paper-input id="min_dist_1" class="estim_plane" label="min distance (m)" floatingLabel> </paper-input>
					<paper-input id="max_dist_1" class="estim_plane" label="max distance (m)" floatingLabel></paper-input>
					
					<paper-input id="min_time_1" class="estim_plane" label="min time (s)" floatingLabel></paper-input>
					<paper-input id="max_time_1"  label="max time (s)" floatingLabel></paper-input>
					
					<div> "The Stable": </div>
					<paper-input id="min_dist_2" class="estim_plane"  label="min distance (m)" floatingLabel></paper-input>
					<paper-input id="max_dist_2" class="estim_plane"  label="max distance (m)" floatingLabel></paper-input>
					
					<paper-input id="min_time_2" class="estim_plane" label="min time (s)" floatingLabel></paper-input>
					<paper-input id="max_time_2" class="estim_plane"  label="max time (s)" floatingLabel></paper-input>
				
				</div>

				<div class="instraction_container">
					<div class="floated_img">
				  		<img width="125px" src="/images/the_basic_dart_instr.png" alt="The Basic Dart"/>
				  		<div class="header_font">28 points/meter</div>
				    </div>


				    <div class="floated_img"> 
				  		<img width="125px" src="/images/the_stable_inst.png" alt="The Stable"/>
				  		<div class="header_font">25 points/meter</div>
				    </div>
				</div>

				
			</section>

			
			

		</div>	





</div>

	<footer>


		<div class="previous_button left"> 
			<a href="/uncertainty">
				<paper-button>
					
					<img class="footer-header-left" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>

					<div class="footer-text" id="footer_back_4"></div>
					
				</paper-button>
			</a>
		</div>


		<div class="next_button right"> 
			<!-- <a href="/analysis"> -->
				<paper-button onclick="saveApproximations()">
					
					<div class="footer-text" id="footer_next_4"></div>
					
					<img class="footer-header-right" height="20px" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
					
				</paper-button>
			<!-- </a> -->
		</div>
	

	</footer>

	<paper-toast id="toast" text="Some of the approximations were not complete."></paper-toast>

	<script type="text/javascript">

		function saveApproximations() {

			var approximations = ["min_time_1", "max_time_1", "min_dist_1", "max_dist_1", "min_time_2", "max_time_2", "min_dist_2", "max_dist_2"];

			for (var i=0; i<8; i++) {
				var isAllAnswered=1;
				var approximation = approximations[i];

				localStorage.setItem(approximation, document.getElementById(approximation).value);
				console.log("document.getElementById(approximation).value="+document.getElementById(approximation).value);

				if (document.getElementById(approximation).value === "") {
					isAllAnswered=0;
					document.querySelector('#toast').show();
				} 

			}
			if (isAllAnswered === 1) {
				window.open("/analysis","_self");
			}


		}
		
	</script>
	
</body>
</html>

